@import "../rwd"; // RWD 樣式 ( @include : phone-width、pad-width、pc-width、pc-big-width )



// --------- Panel component ------------
.panel-wrapper {

  position: relative;
  z-index: 99;

  background:red;

  .panel {

    transition: all 0.3s ease-in-out;
    transform : translateX(70rem);
    overflow-y:auto;

  }

  &.active {

    .over-layer { display: block;  }
    .panel {  transform: translateX(-5em); }

  }

}

.over-layer {

  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;

}

.panel {

  border-radius:0px;
  width:70rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -5em;
  background: #fff;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
  transform: translateX(20em);
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;

  // 住宿費用計算明細
  .info_Panel{

    width         : 100% ;
    padding       : 25px ;
    height        : 280px ;
    background    : white ;
    border-radius : 5px ;
    box-shadow    : 1px 1px 5px 2px rgba(0,0,0,.2) ;
    position      : absolute ;
    top           : -290px ;
    overflow-y    : auto ;
    z-index       : 1000 ;

    span.delete{

      position:absolute;
      top:10px;
      right:10px;
      background:red;

    }

  }

  .lodegPrice_List{


  }


  @include phone-width {

    width:100%;
    padding: 5px 10px;
    overflow-x:hidden;

  }

  z-index:100;
  .head {
    padding: 0.5rem;
    text-align: right;
    .close {
      font-size: 24px;
      font-weight: 600;
      color: #333;
      cursor: pointer;
      line-height: 1;
      margin-right: 4px;
    }
  }
}
